body{
    background-color: #346ea1;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: #005f99;
}

/* Color del parrafo */
p{
    color: #333;
}

