 body{
    background: url(../Images/alien\ landscape.jpg);
    background-repeat: repeat;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 h1{
    color: aqua;
 }

 p{
    color: white;
 }